[submodule "Assignment_2/Assignment_2/LINFO1361-Shobu"]
	path = Assignment_2/Assignment_2/LINFO1361-Shobu
	url = https://github.com/AchilleMorenville/LINFO1361-Shobu
[submodule "Assignment_2/LINFO1361-Shobu"]
	path = Assignment_2/LINFO1361-Shobu
	url = https://github.com/AchilleMorenville/LINFO1361-Shobu
